[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-solo = "*" ### [Models]
django-mptt = "*"
django-ckeditor = "*"
django-tinymce = "*"
django-ordered-model = "*" 
django-phonenumber-field = "*" ### [Utils]
django-cleanup = "*"
django-environ = "*"
django-admin-sortable2 = "*"
django-admin-rangefilter = "*"
django-debug-toolbar = "*" ### [Testing]
pillow = "*" ### [Image processing]
tinify = "*" # TinyPNG API
django-imagekit = "*"
pandas = "*" ### [Excel]
openpyxl = "*"
phonenumbers = "*" # and for django-phonenumber-field
requests = "*" ### [None-specified]
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
