{% load static %}
{% load debug_tags %}
<!DOCTYPE html>
<html>
<head>
	{% if not page_info and DEBUG %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			setTimeout(function() { alert(
				'Ошибка! page_info отсутствует в контексте! ' +
				'Бекендеры, проверьте что используете правильный View, ' +
				'добавляющий page_info в контекст!'
			)}, 200);
		});
	</script>
	{% endif %}

	{% block html_title_override %}
		<!-- Подразумевается, что page_info.html_title будет всегда -->
		<title>{{ page_info.html_title|default:global.site_settings.site_name }}</title>
	{% endblock %}

	<meta name="description" content="Description">
	<meta name="og:type" content="{{page_info.og_type}}">
	{% block custom_og_tags %}{% endblock %}
	<meta name="og:title" content="{{page_info.og_title}}">
	{% if page_info.og_description %}
		<meta name="og:description" content="{{page_info.og_description}}">{% endif %}
	{% if page_info.og_image_url or global.site_settings.favicon %}
		<meta name="og:image" content="{{page_info.og_image_url|default:global.site_settings.favicon.url}}">
	{% endif %}
	<meta name="og:site_name" content="{{site_settings.site_name}}">
	<meta name="og:url" content="{{page_info.get_absolute_url}}">
	<link rel="cannonical" href="{{page_info.get_absolute_url}}">

	<meta charset="utf-8">
	{% with microdata=page_info.get_microdata_dumped %}
		{% if microdata %}
			<script type="application/ld+json">{{microdata}}</script>{% endif %}{% endwith %}

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<script>{{ global.site_settings.head_script|safe }}</script>
</head>
<style>
	:root {
		font-family: 'Cascadia Code', 'JetBrains Mono', 'Roboto Mono';
	}
</style>
<body>
1454
</body>
</html>
