{% extends 'base.html' %}

{% block content %}
<img class="main-image" src="{{page.extra_context.main_image_url}}">
<h3>{{page.h1}}</h3>
<div style="max-width: 60vw;">
	{{page.content|safe}}
	<hr>
</div>
<h1 style="background-color: darkred;">КАТАЛОГ</h1>
--------------
{% if last_articles %}
	<h3>Наш блог</h3>
	{% for article in last_articles %}
	{% include 'business/components/article.html' %}
	{% endfor %}
{% endif %}
{% include 'feedback_requests/feedback-request-form.html' %}

<style>
	main {
		gap: 0.5;
	}
	.main-image {
		border-radius: 0.5rem;
		height: 28rem;
	}
</style>
{% endblock content %}
