{% extends 'base.html' %}

{% block content %}
<div class="path-row">
	<a href="{{global.pages.services.get_absolute_url}}">{{global.pages.services.name}}</a>
	/<a href="{{ service.get_absolute_url }}">{{service.name}}</a>
</div>
<h1>{{page_info.h1}}</h1>
<img src="{{ service.image.url }}" style="border-radius: 1rem; max-height: 40vh; margin-inline: auto; object-fit: scale-down;">
<div style="width: 100%;">
	{{service.description|safe}}
</div>
<div>
	<h2>Наши преимущества</h2>
	<div style="margin-top: 1rem; display: flex; gap: 1rem; justify-content: center; max-width: 90vw; overflow-x: auto;">
		{% for advantage in advantages %}
			<div class="dark-shell advantage-box">
				<img src="{{advantage.image.url}}">
				<h3>{{advantage.name}}</h3>
				{{advantage.description|safe}}
			</div>
		{% endfor %}
	</div>
</div>
<style>
	main {
		width: 65vw;
		margin-inline: auto;
	}

	.advantage-box {
		width: 16rem;

		h3 {
			margin: 0;
		}
		p {
			margin: 0;
		}

		img {
			height: 8rem;
			background-color: gray;
			padding: 1.2rem;
			border-radius: 0.6rem;
			object-fit: scale-down;
		}
	}
</style>
{% endblock %}
