{% extends 'core/generic/model_list.html' %}

{% block list_content %}
	{% for obj in object_list %}
		{% if category.is_parent_category %}
			{# <!-- В include тоже есть with, но теги нельзя делать многострочными --> #}
			{% with title=obj.name desc=obj.summary image=obj.image absolute_url=obj.get_absolute_url %}
				{% include 'core/generic/components/item_card.html' %}
			{% endwith %}
		{% else %}
			{% with title=obj.name desc=obj.description image=obj.image absolute_url=obj.get_absolute_url %}
				{% include 'core/generic/components/item_card.html' %}
			{% endwith %}
		{% endif %}
	{% empty %}
		<h3 style="color: gray; margin-top: 12rem;">Здесь пусто...</h3>
	{% endfor %}
{% endblock %}
