{% extends 'core/generic/model_list.html' %}

{% block list_bodytop %}
{% include 'business/components/catalog_path_row.html' %}
{% endblock %}

{% block list_pagecontent %}
	{% if category.summary %}
		{% render_as_template category.summary %}
	{% else %}
		Добро пожаловать в каталог продукции «СТС»! Мы предлагаем широкий
		ассортимент высококачественного оборудования для отопления, инженерных
		систем и металлообработки, которое идеально подходит для применения
		в жилых, коммерческих и промышленных объектах.
	{% endif %}
{% endblock %}

{% block list_content %}
	{% for obj in object_list %}
		{% with title=obj.name image=obj.image url=obj.get_absolute_url%}
			{% if category.is_parent_category %}
				{% include 'core/generic/components/item_card.html' with desc=obj.summary %}
			{% else %}
				{% include 'core/generic/components/item_card.html' with desc=obj.description %}
			{% endif %}
		{% endwith %}
	{% empty %}
		<h3 style="color: gray; margin-inline: auto;">Здесь пусто...</h3>
	{% endfor %}
{% endblock %}

{% block list_undercontent %}
	<div class="recommended_categories">
	<h2>Рекомендуемые категории</h2>
	<div class="hr"></div>
	<div class="body">
		{% for rec_category in recommended_categories %}
			{% item_card rec_category.name rec_category.summary rec_category.image url=rec_category.get_absolute_url %}
		{% endfor %}
	</div>
</div>
<style>
	.recommended_categories {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 0.8rem;
		margin-top: 2rem;
		padding-inline: 1.2rem;
		padding-block: 1rem;
		border: 0.25rem dashed var(--dark-bg);
		border-radius: 1rem;
		
		.hr {
			border-top: 0.25rem dashed var(--dark-bg);
		}
		
		.body {
			display: flex;
			flex-direction: row;
			overflow-x: auto;
			padding-bottom: 1rem;
			padding-top: 0.5rem;
			gap: 1rem;
		}
	}
</style>
{% endblock %}
