{% extends 'base.html' %}

{% block content %}
{% block list_bodytop %}

{% endblock %}
<h1>{{ page_info.h1 }}</h1>
<div style="max-width: 50vw; margin-bottom: 2rem;">
	{# в проде были бы свои страницы под каждую модель, я же сделал общую #}
	{% if based_object.content %}
		{% render_as_template based_object.content|safe %}
	{% elif based_object.summary %}
		{% render_as_template based_object.summary|safe %}
	{% elif based_object.description %}
		{% render_as_template based_object.description|safe %}
	{% else %}
		Добро пожаловать в каталог продукции «СТС»! Мы предлагаем широкий
		ассортимент высококачественного оборудования для отопления, инженерных
		систем и металлообработки, которое идеально подходит для применения
		в жилых, коммерческих и промышленных объектах.
	{% endif %}
</div>

<div class="list-container">
	{% block list_content %}
		{% for obj in object_list %}
			{% item_card obj.name obj.summary obj.image url=obj.get_absolute_url %}
		{% endfor %}
	{% endblock %}
</div>
{% block list_undercontent %}
{% endblock %}
<style>
	main {
		max-width: none;
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
	}

	.list-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;
	}
</style>
{% endblock content %}
