{% extends 'base.html' %}

{% block content %}
<h1>{{ page_info.h1 }}</h1>
<div>
	{% render_as_template page.content|safe %}
</div>

<div class="list-container">
	{% block list_content %}
		{% for obj in object_list %}
			{% with title=obj.name desc=obj.summary image=obj.image absolute_url=obj.get_absolute_url %}
				{% include 'core/generic/components/item_card.html' %}
			{% endwith %}
		{% endfor %}
	{% endblock %}
</div>

<style>
	main {
		max-width: none;
		width: 100%;
		padding: 0 1rem;
		box-sizing: border-box;
	}

	.list-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto;
	}
</style>
{% endblock content %}
